<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=ORLSQ05;Initial Catalog=EmployeeData;User ID=empdata;Password=L0wnd3s@215%data;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
    <add name="EmployeeData" connectionString="Data Source=ORLSQ05;Initial Catalog=EmployeeData;User ID=empdata;Password=L0wnd3s@215%data;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
    <!--<add connectionString="Data Source=ORLSQ05;Initial Catalog=EmployeeData;Integrated Security=SSPI;Trusted_Connection=yes;Connect Timeout=15;Encrypt=False" name="DefaultConnection" providerName="System.Data.SqlClient" />
    <add connectionString="Data Source=ORLSQ05;Initial Catalog=EmployeeData;Integrated Security=SSPI;Trusted_Connection=yes;Connect Timeout=15;Encrypt=False" name="EmployeeData" providerName="System.Data.SqlClient" />-->
    <!-- Worked connectionString on IIS 
         Data Source=ORLSQ05;Initial Catalog=EmployeeData;User ID=empdata;Password=L0wnd3s@215%data;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False-->
    <!--<add name="DefaultConnection" connectionString="Data Source=ORLSQ05;Initial Catalog=EmployeeData;Integrated Security=SSPI;Connect Timeout=15;Encrypt=False; Trusted_Connection=Yes" providerName="System.Data.SqlClient" />
    <add name="EmployeeData" connectionString="Data Source=ORLSQ05;Initial Catalog=EmployeeData;Integrated Security=SSPI;Connect Timeout=15;Encrypt=False; Trusted_Connection=Yes" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Provider=SQLOLEDB.1;Data Source=.\SQLExpress;Initial Catalog=UltiPro;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />
    <add name="EmployeeData" connectionString="Provider=SQLOLEDB.1;Data Source=.\SQLExpress;Initial Catalog=UltiPro;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />-->
    <!--<add name="EmployeeDataEntities" connectionString="metadata=res://*/Models.EmployeeDatabase.csdl|res://*/Models.EmployeeDatabase.ssdl|res://*/Models.EmployeeDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ORLSQ05;initial catalog=EmployeeData;user id=empdata;password=L0wnd3s@215%data;connect timeout=15;encrypt=False;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="EmployeeDataEntities" connectionString="metadata=res://*/Models.EmployeeDatabase.csdl|res://*/Models.EmployeeDatabase.ssdl|res://*/Models.EmployeeDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=EmployeeData;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Windows"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <identity impersonate="false"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=edge"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>